<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @reply.content %>
</p>

<p>
  <strong>Micropost:</strong>
  <%= @reply.micropost %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
